<!DOCTYPE html>
<html>
<head>
    <title>Martian Robots</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//web-toolkit.global.sky.com/2.2.1/stylesheets/toolkit.css"/>
    <link rel="stylesheet" href="//web-toolkit.global.sky.com/2.2.1/fonts/skycons.css"/>
    <link rel="stylesheet" href="overrides.css"/>
    <script src="http://web-toolkit.global.sky.com/static/lib/jquery-2.0.3.js"></script>
    <script src='//web-toolkit.global.sky.com/2.2.1/scripts/toolkit.min.js'></script>
</head>
  <body class="skycom-container">
    <h1>Martian Robots</h1>
    <h3>Roaming <%= planet %> from (<%= initial_location %>) facing <%= initial_orientation %></h3>
    <h3>Ended up at (<%= location %>) facing <%= orientation %></h3>
  </body>
</html>
